<% include ../partials/head %>
<% include ../partials/header %>
<% include ../partials/nav %>
<h3>Upcoming Releases in Theatres</h3>
<% Object.keys(pages).forEach(function (id) { %>
  <div class="movie">
    <a href="<%= pages[id].pageUrl %>"><img src="/images/<%= pages[id].pageImage %>" alt="<%= pages[id].pageTitle %>"/></a>
    <a href="<%= pages[id].pageUrl %>"><h4><%= pages[id].pageTitle %></h4></a>
  </div>
<% }) %>
<% include ../partials/footer %>
